:root {
  --main-g1-color: #7FC8A9;
  --main-g2-color: #D5EEBB;
  --main-g3-color: #5F7A61;
  --main-g4-color: #444941;
}

body {
  background-color: var(--main-g2-color);
  font-size: 18px;
}

label {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: .4rem;
  cursor: pointer;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

input, textarea {
  border: 2px solid var(--main-g4-color);
  padding: .4rem;
  line-height: 2rem;
}

form>div {
  margin-bottom: 20px;
}

.formBuild {
  width: clamp(300px, 100%, 600px);
  margin: 0 auto;
}

.input_wrap{
  margin-bottom: 20px;
}

.input_wrap div:not(.w-12) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.constraint {
  max-width: 1450px;
}

input {
  pointer-events: none;
}

.button {
  display: inline-block;
  background-color: var(--main-g3-color);
  border: 2px solid var(--main-g4-color);
  padding: 0.9rem 1rem;
  line-height: 30rem;
  border-left: 0;
  font-size: 6.5rem;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.button i{
  font-size: 1rem;
}

.button:hover {
  background-color: #009688;
}
